.textInput {
  width: 350px;
  height: 40px;
  border: 1px solid #055C9D;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  resize: vertical; 
}

.textInput::placeholder {
  color: rgba(5, 91, 157, 0.5);
}

.textInput:focus {
  border: 1px solid #055C9D;
  outline: none;
}

.label {
  font-size: 18px;
  font-weight: 700;
  color: #055C9D;
  margin-bottom: 5px;
}

